<div id="bg-switcher-container">
  <input type="checkbox" id="switch" name="bg_switcher" class="container_toggle" value="">
  <div class="toggle">
    <label for="switch">
      <i></i>
    </label>
  </div>
</div>
